.landlord-section {
  text-align: center;
  background-color: #f0f0f0;
  padding: 3rem;
}

.landlord-title {
  padding-top: 2rem;
}

.landlord-para {
  padding-bottom: 2rem;
}

.getStarted-button {
  width: 344px;
  height: 40px;
  background: #000000;
  color: #ffffff;
}

.getStarted-button:hover {
  background: #ffffff;
  color: #000000;
}

.videoPic {
  height: 388px;
  width: 722px;
  padding: 2rem;
}

.landlord-saving {
  display: flex;
  justify-content: space-around;
  padding-top: 8rem;
}
